---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{ page.title | escape }}</h1>
  
  {{ content }}

  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <!-- <span class="post-link-wrapper">
          <span class="left"> -->
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        <!-- </span>

        <span class="right"> -->
            <a class="post-link" href="{{ post.url | relative_url }}">
              <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
              {{ post.title | escape }}</a>
          <!-- </span>
        </span> -->
        <span class="post-truncated">
          {{ post.content | strip_html | truncatewords:20}}
        </span>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
